*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #355dcb, #7c7ec5);
  font-family: "MuseoModerno", cursive;
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.headline {
  font-size: 30px;
  color: #fff;
}

#form {
  padding-top: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 30px 20px;
  max-width: 700px;
  margin: 40px auto;
}

.holder {
  text-align: center;
  margin-top: 20px;
}

.title {
  padding-bottom: 80px;
}

#entryHolder {
  padding: 20px;
  width: 70%;
  border-radius: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  margin-bottom: 6px;
}

input {
  border: 1px solid #c8c8c8;
  background-color: #fff;
  border-radius: 2px;
  font-size: 16px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 50%;
  height: 40px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  margin: 0 auto;
}

button {
  border: 1px solid #777;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  display: block;
  width: 50%;
  height: 40px;
  background-color: #355dcb;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
}
h1 {
  font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
